
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
:disabled{
   color: rgb(130,130, 130);
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
WPano5{
    background-color: orange;   
    border: 1px solid black;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
WImage5{
    background-color: rgb(40,40,40);
    color:rgb(240, 240, 240);
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
#WImage5_Tool{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(90, 90, 90), stop:1 rgb(60, 60, 60));;  
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
#QToolButton_ZoomIn{
    image: url("UI:plus.png");
}

#QToolButton_ZoomIn:pressed{
    image: url("UI:plus.png");
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
#QToolButton_ZoomOut{
    image: url("UI:minus.png");
}

#QToolButton_ZoomOut:pressed{
    image: url("UI:minus.png");
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
#QToolButton_Prev{
    image: url("UI:prev16.png");
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
#QToolButton_Next{
    image: url("UI:next16.png");
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
#QLabel_Minus{
   image: url("UI:minus.png");
}

#QLabel_Plus{
    image: url("UI:plus.png");
}



/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QMainWindow{
   background-color: rgb(25, 25, 25);
   border: 0px solid red;
   selection-background-color: red;
   selection-color:red;
   color: red;
}

 QMainWindow::separator {
 }

 QMainWindow::separator:hover {

 }


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QPushButton{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(90, 90, 90), stop:1 rgb(60, 60, 60));
    border: 1px solid black;
    color:rgb(240,240,240);
    padding: 1ex 2ex;
}

QPushButton::hover{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(150, 150, 150), stop:1 rgb(120, 120, 120));
    color:rgb(255,255,255);
}

QPushButton:pressed{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(120, 120, 120), stop:1 rgb(90, 90, 90));
}

QDialogButtonBox > QPushButton, QDialog > QPushButton, QWizard > QWidget > QPushButton{
    min-width: 5em;
    min-height: 1.4em;
}

QPushButton#m_pbFolderTpl, QPushButton#m_pbFilenameTpl, QPushButton#m_pbInfo, QPushButton#m_pbSoundPlay
{
   background-color:transparent;
   border: 0px solid red;

}

/*
QPushButton#m_pbFolderTplBrowse, QPushButton#m_pbSoundBrowse, QPushButton#m_pbBrowse{
    border: 1px solid black;
    padding: .5ex .5ex;
}
*/

QPushButton[text="..."]{
    min-width: 1em;
}



QPushButton#m_pbAdvancedSetting{
   background-color:transparent;
   border:0px solid red;
   padding: 0ex 0ex;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QDockWidget
{ 
   background-color: rgb(90, 90, 90);
   border-top: 1px solid orange;
   color:rgb(240, 240, 240);
}

QDockWidget::title
{
   background-color: rgb(90, 90, 90);
   border: 1px solid black;

   padding: 0.4em;
}

QDockWidget  .QWidget{
   background-color: rgb(40, 40, 40);
   color: rgb(200,200,200);
   border: 0px solid red;
}

QDockWidget QScrollArea{
    border: 0px solid rgb(90, 90, 90);
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
WLabel{
   background-color:transparent;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QHeaderView::section{
   color: rgb(240,240,240);
}

QHeaderView::section{
   background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(90, 90, 90), stop:1 rgb(60, 60, 60));
   padding: 1ex;
}

QHeaderView::section:first{
   border-top: 0px solid black;
   border-right: 0px solid black;
   border-bottom: 1px solid black;
   border-left: 0px solid black;
}

QHeaderView::section:middle{
   border-top: 0px solid black;
   border-right: 0px solid black;
   border-bottom: 1px solid black;
   border-left: 1px solid black;
}

QHeaderView::section:last{
   border-top: 0px solid black;
   border-right: 0px solid black;
   border-bottom: 1px solid black;
   border-left: 1px solid black;
}

QHeaderView::section:hover{
     background-color:  qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(150, 150, 150), stop:1 rgb(120, 120, 120));
}

QHeaderView::section:pressed{
     background-color:  qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(150, 150, 150), stop:1 rgb(120, 120, 120));
}

 /* style the sort indicator */
QHeaderView::down-arrow {
    image: url("UI:arrow_down_V2.png");

    width: 10px;
    height: 10px;

    padding-right: 1ex;
}

QHeaderView::up-arrow {
    image: url("UI:arrow_up_V2.png");

    width: 10px;
    height: 10px;

    padding-right: 1ex;
}

QTreeView#UIGroup_TreeView QHeaderView::section:first{
    border-left: 1px solid black;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QScrollBar{
    background-color:  rgb(40, 40, 40);
}

QScrollBar::add-page, QScrollBar::sub-page {
    background: none;
}

QScrollBar::horizontal{
    border: 1px solid rgb(90, 90, 90);
    border-left: 0px solid red;
    border-right: 0px solid red;

    margin: 0px 16px 0px 16px;
}

QScrollBar::vertical {
    border: 1px solid rgb(90, 90, 90);
    border-top: 0px solid red;
    border-bottom: 0px solid red;

    margin: 16px 0px 16px 0px;
}

QScrollBar::handle{
    background-color: rgb(90, 90, 90);
    border: 1px solid black;
}

QScrollBar::handle:horizontal{
    min-width: 20px;
}

QScrollBar::handle:vertical{
    min-height: 20px;
}

QScrollBar::handle:hover {
    background-color: rgb(130, 130, 130);
}

QScrollBar::handle:pressed {
    background-color: rgb(180, 180, 180);
}

QScrollBar::add-line:horizontal {
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgb(60, 60, 60), stop:1 rgb(90, 90, 90));
    border: 1px solid rgb(90, 90, 90);
    border-left:0px;
    
    width: 15px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal{
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgb(90, 90, 90), stop:1 rgb(60, 60, 60));
    border: 1px solid rgb(90, 90, 90);
    border-right:0px;

    width: 15px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover{
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgb(100, 100, 100), stop:1 rgb(150, 150, 150));
}

QScrollBar::sub-line:horizontal:hover{
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgb(150, 150, 150), stop:1 rgb(100, 100, 100));
}

QScrollBar::add-line:horizontal:pressed{
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgb(130, 130, 130), stop:1 rgb(180, 180, 180));
}

QScrollBar::sub-line:horizontal:pressed{
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgb(180, 180, 180), stop:1 rgb(130, 130, 130));
}

QScrollBar::add-line:vertical {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(60, 60, 60), stop:1 rgb(90, 90, 90));
    border: 1px solid rgb(90, 90, 90);
    border-top:0px;

    height: 15px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(90, 90, 90), stop:1 rgb(60, 60, 60));
    border: 1px solid rgb(90, 90, 90);
    border-bottom:0px;

    height: 15px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical:hover{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(100, 100, 100), stop:1 rgb(150, 150, 150));
}

QScrollBar::sub-line:vertical:hover{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(150, 150, 150), stop:1 rgb(100, 100, 100));
}

QScrollBar::add-line:vertical:pressed{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(130, 130, 130), stop:1 rgb(180, 180, 180));
}

QScrollBar::sub-line:vertical:pressed{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(180, 180, 180), stop:1 rgb(130, 130, 130));
}

QScrollBar::left-arrow:horizontal{
    background-image: url("UI:arrow_left_V2.png");
    background-position: center;
} 

QScrollBar::right-arrow{
    background-image: url("UI:arrow_right_V2.png");
    background-position: center;
}

QScrollBar::up-arrow:vertical{
    background-image: url("UI:arrow_up_V2.png");
    background-position: center;
}

QScrollBar::down-arrow:vertical{
    background-image: url("UI:arrow_down_V2.png");
    background-position: center;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QSplitter{
    background-color: transparent;
    border: 0px solid red;
}

QSplitter::handle{
    background-color: rgb(40,40,40);
    border: 0px solid green;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QScrollArea {
    background-color: transparent;
    border: 0px solid red;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
UIPanosView QAbstractScrollArea {
    background-color: transparent;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
UIGroups{
    background-color: transparent;
    border: 0px solid red;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
UIGroup > .QFrame, UIGroup > .QLabel{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(90, 90, 90), stop:1 rgb(60, 60, 60));
    color:rgb(240,240,240);
    border-bottom: 1px solid black;
}

UIGroup{
    background-color: rgb(40,40,40);
    border: 1px solid black;
}

UIGroup > .QTextEdit{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(90, 90, 90), stop:1 rgb(60, 60, 60));
    color: rgb(240,240,240);
    border:0px solid red;

    min-width: 150px;
    max-width: 150px;
}



/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
UIPanos{
    background-color: transparent;
    border: 0px solid red;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
UIPano{
    background-color: rgb(40, 40, 40);
    color:rgb(240,240,240);
    border: 1px solid black;
}

UIPano > .QFrame, UIPano > .QLabel{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(90, 90, 90), stop:1 rgb(60, 60, 60));
    border-bottom: 1px solid black;
}

UIPano > .QTextEdit{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(90, 90, 90), stop:1 rgb(60, 60, 60));
    color: rgb(240,240,240);
    border:0px solid red;

    min-width: 150px;
    max-width: 150px;;
}

UIPano QLabel#m_lbPreview{
    background-color: transparent;
    border: 0px solid red;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QTreeView{
    background-color: rgb(40, 40, 40);
    alternate-background-color:  rgb(50, 50, 50);
    border: 1px solid black;
}

QTreeView::item{
    color: rgb(240,240,240);
}

QTreeView::branch:closed:has-children:!has-siblings, QTreeView::branch:closed:has-children:has-siblings{
    image: url(UI:treeview_arrow_right.png);
}

 QTreeView::branch:open:has-children:!has-siblings, QTreeView::branch:open:has-children:has-siblings{
    image: url(UI:treeview_arrow_down.png);
}

QTreeView::indicator{
    border: 0px solid red;
    width: 14px;
    height: 16px;
}

QTreeView::indicator:unchecked{
     image: url(UI:checkbox_unchecked.png);
 }

QTreeView::indicator:unchecked:disabled{
     image: url(UI:checkbox_unchecked_disabled.png);
 }

QTreeView::indicator:checked{
     image: url(UI:checkbox_checked.png);
 }

QTreeView::indicator:checked:disabled{
     image: url(UI:checkbox_checked_disabled.png);
}


QTreeView::item:hover, QTreeView::item:selected:active, QTreeView::item:selected:!active{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(110, 110, 110), stop:1 rgb(90, 90, 90));
}

QTreeView#UIGroup_TreeView{
    border: 0px solid black;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QListView{
    background-color: rgb(90, 90, 90);
    border: 1px solid black;
}

QListView::item{
    color: rgb(240, 240, 240);
}

QListView::item:alternate{
 }

QListView::item:selected{
}

QListView::item:hover, QListView::item:selected:active, QListView::item:selected:!active{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(60, 60, 60), stop:1 rgb(40, 40, 40));
    color: rgb(240, 240, 240);
}

QListView#UIGroup_ListView{
    background-color: rgb(40, 40, 40);
    border: 0px solid black;
    selection-background-color: rgb(60, 60, 60); 
}

QListView#UIGroup_ListView::item{
    color: rgb(240,240,240);
}

QListView#UIGroup_ListView::item:hover, QListView#UIGroup_ListView::item:selected:active, QListView#UIGroup_ListView::item:selected:!active{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(110, 110, 110), stop:1 rgb(90, 90, 90));
    color: rgb(240, 240, 240);
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QTableView{
    background-color: rgb(180, 180, 180);
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QMenuBar{
    background-color: rgb(40, 40, 40);
}

QMenuBar::item{
    background-color: transparent;
    color: rgb(240, 240, 240);
}

QMenuBar::item:selected{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(180, 180, 180), stop:1 rgb(130, 130, 130));
    color: rgb(240, 240, 240);
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QMenu{
    background-color: rgb(60, 60, 60);
    color: rgb(240, 240, 240);
    border: 0px solid red;
    padding: 5px; 
}

QMenu::item{
    background-color: transparent; 
    border: 1px solid transparent;
    padding: 2px 25px 2px 20px; 
}

QMenu::item:selected{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(150, 150, 150), stop:1 rgb(100, 100, 100));
    border: 1px solid transparent;
    color:rgb(240, 240, 240);
}

QMenu::separator{
   height: 1px;
   background-color: rgb(240, 240, 240);
   margin: 5px 25px 5px 20px;
} 


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QDialog{
    background-color:  rgb(25, 25, 25);
    border: 0px solid black;
}

QDialog QWidget#qt_scrollarea_viewport > QWidget {
    border: 1px solid black;
}

QDialog WScrollArea{
   background-color: rgb(40, 40, 40);
}



/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QTabWidget::pane { /* The tab widget frame */
     border: 1px solid black;
     margin-top:-1px;
}

 
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*enum QTabBar::Shape QTabBar::RoundedNorth=0, QTabBar::RoundedSouth=1 */
QTabBar{
    background-color: transparent;
    border:0px solid red;
}

QTabBar::tab{
    background-color: rgb(40, 40, 40);
    color: rgb(200, 200, 200);
    padding: 1ex 3ex;
    border: 1px solid black;
    min-width:3em;
}

/* shape=0 The normal rounded look above the pages*/
QTabBar[shape="0"]::tab:selected{
    border-bottom-color: rgb(40, 40, 40);
}

QTabBar::tab:first:selected{
    margin-left: 0px;
    margin-right: -2px;
} 

QTabBar::tab:middle:selected{
    margin-left: -2px;
    margin-right: -2px;
 }

QTabBar::tab:last:selected{
    margin-left: -2px;
    margin-right: 0px;
}

/* shape=0 The normal rounded look above the pages*/
QTabBar[shape="0"]::tab:!selected{
    margin-top: 2px;
}

QTabBar::tab:first:!selected{
    border-left:1px solid black;
    border-right:1px solid black;
}

QTabBar::tab:middle:!selected{
    border-left:0px solid red;
    border-right:1px solid black;
}

QTabBar::tab:last:!selected{
    border-left:0px solid red;
    border-right:1px solid black;
}

QTabBar::tab:!selected:hover{
     background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(90, 90, 90), stop:1 rgb(60, 60, 60)); 
}

/* shape=1 The normal rounded look below the pages*/
QTabBar[shape="1"]::tab:selected{
    border-top-color: rgb(40, 40, 40);
}

/* shape=1 The normal rounded look below the pages*/
QTabBar[shape="1"]::tab:!selected{
    margin-bottom: 2px;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QProgressBar{
    background-color:  qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(90, 90, 90), stop:1 rgb(60, 60, 60));
    border: 1px solid black;
}

QProgressBar::chunk{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(180, 180, 0, 100), stop:1 rgba(60, 60, 60, 60));
    border: 1px solid rgba(180, 180, 180, 200);
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QToolBar{
    border: 0px;
}

QToolBar:horizontal{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(90, 90, 90), stop:1 rgb(60, 60, 60));
}

QToolBar:vertical{
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgb(90, 90, 90), stop:1 rgb(60, 60, 60));
}

QToolBar:separator{
   background-color:qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 rgb(180, 180, 180), stop:1 rgb(90, 90, 90));;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
 
   width:1px;
   height:1px;
   margin:5px;
}

QToolBar#UIPanosView_ToolBar{
    border-top: 1px solid black;
    border-bottom: 0px solid red;
}

QToolBar#UIGroupsView_ToolBar{
    border-top: 1px solid black;
    border-bottom: 0px solid red;
}

QToolBar#UIGroup_ToolBar{
    border-bottom: 1px solid black;
}

QToolBar#UIPano_ToolBar{
    border-bottom: 1px solid black;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QSlider::groove:horizontal {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(180, 180, 180), stop:1 rgb(140, 140, 140));
    border: 1px solid rgb(60, 60, 60);
    height: 4px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
}

QSlider::handle:horizontal {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(180, 180, 180), stop:1 rgb(140, 140, 140));

    border: 1px solid rgb(60, 60, 60);
    width: 8px;
    margin: -2px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 2px;
 }

QSlider::handle:horizontal:hover {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(240, 240, 240), stop:1 rgb(180, 180, 180));
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QStatusBar{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(60, 60, 60), stop:1 rgb(90, 90, 90));
    color: rgb(240, 240, 240);
    border: 0px solid red;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QToolButton{
    background-color: transparent;
    border: 0px solid red;
    color:rgb(240, 240, 240);
}

QToolButton#m_tbClose{
    background-color: transparent;
}

QToolButton::hover{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(150, 150, 150), stop:1 rgb(120, 120, 120));
}

QToolButton::checked{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(120, 120, 120), stop:1 rgb(90, 90, 90));
}

QToolButton::pressed{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(120, 120, 120), stop:1 rgb(90, 90, 90));
}

QToolButton[popupMode="1"]{
/* only for MenuButtonPopup */
    padding-right: 10px; /* make way for the popup button */
} 

/* the subcontrols below are used only in the MenuButtonPopup mode */
QToolButton::menu-button{
    border: 0px solid red;
} 

QToolButton::menu-button:hover{
   background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(180, 180, 180), stop:1 rgb(150, 150, 150)); 
}

QToolButton::menu-button:pressed{

} 

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QLabel, QCheckBox, QRadioButton{
    color: rgb(240, 240, 240);
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QSpinBox, QDoubleSpinBox {
   background-color:  qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(180, 180, 180), stop:1 rgb(150, 150, 150));   
   border: 1px solid black;
   padding:0px;

   selection-background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(120, 120, 120), stop:1 rgb(90, 90, 90));
   selection-color: rgb(25, 25, 25);
}


QSpinBox::up-button, QSpinBox::down-button, QDoubleSpinBox::up-button, QDoubleSpinBox::down-button {
     subcontrol-origin: border;
     width: 16px;
     border-width: 0px;
 }

QSpinBox::up-button, QDoubleSpinBox::up-button {
     subcontrol-position: top right;     
}

QSpinBox::down-button, QDoubleSpinBox::down-button {
     subcontrol-position: bottom right;
}

QSpinBox::up-arrow, QDoubleSpinBox::up-arrow {
     border-image: url(UI:spinbox_up.png);
     height:7px;
 }

QSpinBox::down-arrow, QDoubleSpinBox::down-arrow {
     border-image: url(UI:spinbox_down.png);
     height:7px;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QCheckBox::indicator:unchecked{
     image: url(UI:checkbox_unchecked.png);
 }

QCheckBox::indicator:unchecked:disabled{
     image: url(UI:checkbox_unchecked_disabled.png);
 }

QCheckBox::indicator:checked{
     image: url(UI:checkbox_checked.png);
 }

QCheckBox::indicator:checked:disabled{
     image: url(UI:checkbox_checked_disabled.png);
 }

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QRadioButton::indicator:unchecked{
     image: url(UI:radiobutton_unchecked.png);
 }

QRadioButton::indicator:unchecked:disabled{
     image: url(UI:radiobutton_unchecked_disabled.png);
 }

QRadioButton::indicator:checked{
     image: url(UI:radiobutton_checked.png);
 }

QRadioButton::indicator:checked:disabled{
     image: url(UI:radiobutton_checked_disabled.png);
 }

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QLineEdit{
   background-color:  qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(180, 180, 180), stop:1 rgb(150, 150, 150));   
   border: 1px solid black;
   padding:0px;
   color:black;

   selection-background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(120, 120, 120), stop:1 rgb(90, 90, 90));
   selection-color: black;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QComboBox{
     border: 1px solid black;
     padding: 0px 18px 0px 3px;		
 }

QComboBox:!editable, QComboBox::drop-down:editable{
     background-color:  qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(180, 180, 180), stop:1 rgb(150, 150, 150)); 
 }

QComboBox:editable{
     background-color:  qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(180, 180, 180), stop:1 rgb(150, 150, 150)); 
 
    selection-background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(120, 120, 120), stop:1 rgb(90, 90, 90));
    selection-color: rgb(25, 25, 25);
}

QComboBox:!editable:on, QComboBox::drop-down:editable:on{
     background-color:  qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(180, 180, 180), stop:1 rgb(150, 150, 150));
}

QComboBox::drop-down{
     subcontrol-origin: padding;
     subcontrol-position: top right;
     width: 15px;
     border: 0px;
}

QComboBox::down-arrow{
     image: url(UI:dropdown_arrow.png);
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
WTool{
    background-color:  qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(60, 60, 60), stop:1 rgb(40, 40, 40));
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* fix group box */
QGroupBox{
    color: rgb(200, 200, 200);
    background-color: rgb(90, 90, 90);
    border: 1px solid black;

    margin-top: 1.1em; /* leave space at the top for the title */ 
    margin-bottom: 0.1em; /* leave space at the top for the title */ 

    font-weight: bold;
}

QGroupBox::title{
    border: 0px solid red;

    subcontrol-origin: margin;
    top: 0px;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
UICameraModel{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(60, 60, 60), stop:1 rgb(40, 40, 40));
    border: 0px solid red;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
WComboBoxContainer{
    background-color: green;
    border: 0px solid red;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
UIBatchRender{
    background-color: rgb(40, 40, 40);
}

UIBatchRender QGroupBox{
    border: 0px solid red;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QTextEdit{
    background-color: rgb(90, 90, 90);
    color: rgb(240,240,240);
    border: 1px solid black;

   selection-background-color:  rgb(60, 60, 60) ;
   selection-color: rgb(240, 240, 240);
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QToolTip{
      background-color:  qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(180, 180, 180), stop:1 rgb(150, 150, 150)); 
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QWizard{

}


QWizard .QWidget{
      background-color: rgb(40,40,40);
      color:rgb(240,240,240);
}

QWizard .QFrame{
      background-color: rgb(40,40,40);
      color:rgb(240,240,240);
}

QWizard  > .QWidget > .QLabel{
      background-color: rgb(40,40,40);
      color:rgb(240,240,240);
}

QWizard QListView{
      background-color: rgb(60,60,60);
      color:rgb(240,240,240);
}


QWizardPage .QFrame{
    background-color: transparent;
    border: 1px solid black;
}




/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
WImageView{
      background-color: rgba(200, 200, 200, 250);
}
