/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*
QMenuBar{
    border-bottom: 1px solid qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgba(30, 144, 255, 0), stop:1 rgba(30, 144, 255, 255));
}
*/


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QToolBar#AutopanoQT_ToolBar::horizontal{
    background-image: url(UI:toolbar_h_logo_apg.png);
    background-repeat: none;
    background-position: right;    
    border-bottom: 1px solid qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgba(30, 144, 255, 0), stop:1 rgba(30, 144, 255, 255));
}

QToolBar#AutopanoQT_ToolBar::vertical{
    background-image: url(UI:toolbar_v_logo_apg.png);
    background-repeat: none;
    background-position:  bottom;
    border-right: 1px solid qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(30, 144, 255, 0), stop:1 rgba(30, 144, 255, 255));
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* shape=0 The normal rounded look above the pages*/
QTabBar[shape="0"]::tab:selected{
    border-top-color: rgb(30, 144, 255);
}
	
/* shape=1 The normal rounded look below the pages*/
QTabBar[shape="1"]::tab:selected{
    border-bottom-color: rgb(30, 144, 255);
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
QProgressBar::chunk{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(30, 144, 255, 128), stop:1 rgba(30, 144, 255, 0));
    border: 1px solid rgba(30, 144, 255 , 255);
}
